.next-page, .prev-page, .first-page, .last-page, .tablenav-pages-navspan
{
    border: 1px solid black;
    padding: 10px 8px 5px 8px;
    margin-right: 10px;
    margin-left: 10px;
}

.paging-index
{
    font-size: 14pt;
    margin-top: 10px;
}

.tablenav-first
{
    margin-left: 14%;
}

#btnSearchBox
{
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}