body
{ 
	font-size:12px;
}

.GCTemplate
{
	width:318px;
	height:216px;
	padding:15px;
	border-radius:10px;
	border: 1px solid black;
	background: url('../../image/Carnet-Template50.png');
	font-size: 12px;
    font-family: monospace;
}

#QR_code
{
	left: 56px;
    top: 114px;
    position: relative;
    border: solid 1px black;
}

.dialog-viewer-content
{
	padding: 0 26%;
    width: 100%;
}

.center-member
{
	padding-top: 82px;
    font-family: sans-serif;
}

.lbl-cname
{
	font-size: 11px;
    position: relative;
    bottom: 17px;
    left: 35%;
}

.lbl-cpersonalid
{
	padding-left: 4%;
    font-size: 11px;
    padding-top: 1px;
    position: relative;
}